.navbar-brand{
    font-weight: 800;
}
.page-banner.home-banner {
    height: 540px;
}

.page-banner {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 320px;
    background-color:  #d9f2f6;
    color: #645F88;
    border-radius: 20px;
    z-index: 10;
}

.background-green{
    /* background-color: #00800036; */
    background-color: #afedaf36;
    margin:2rem;
    border-radius: 20px;
    padding:1rem;
}

.background-purple{
    /* background-color: #dedbf1; */
    background-color:  #d9f2f6;
    margin:2rem;
    border-radius: 20px;
}

.header-pading{
    padding-left:2rem;
}
/* .data-section{
    margin: 2em;
    background-color: #00800036;
    width: 69%;
    margin-left: 15em;
    border-radius: 20px;
} */
.page-footer {
    position: relative;
    display: block;
    padding-top: 80px;
    padding-bottom: 16px;
    /* width: 69%;
    margin-left: 19em; */
    background-color: #342f52;
    color:white;
    /* border-radius: 20px; */
}

.bg-image {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* url(assets/img/world_pattern.svg); */
}

.subhead{
    padding: 1rem;
    font-size: large;
    font-family: cursive;
}

.card-service {
    display: block;
    margin: 16px auto;
    padding: 32px 20px;
    max-width: 400px;
    text-align: center;
    color: #898798;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(95, 92, 120, 0.12);
}

.card-blog {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(100, 95, 136, 0.16);
    overflow: hidden;
}

.card-blog .body {
    padding: 20px;
}

.navbar.sticky.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: navTransition .5s ease;
    box-shadow: 0 2px 6px rgba(100, 95, 136, 0.15);
    z-index: 1080;
}
 .section-s{
    position: relative;
    height:470px;
 }

 .section-m{
    position: relative;
    height:500px;
 }

 .section-l{
    position: relative;
    height:750px;
 }
